/*
Custom CSS styles that override base theme go here.
*/
.header-block p.course-slogan {
  font-size: 21px;
  line-height: 23px;
  font-weight:normal;
}

.header-block .course-venue-date {
  font-size:22px;
}

.front .views-field-field-hero-image,
.page-accreditation .views-field-field-hero-image {
  width:100%;
  float:none;
}

.front .hero-copy,
.page-accreditation .hero-copy {
  display:none;
}

.collapse-me,
.close-me {
  display:none;
}

.collapse-me-control {
  color:#0000FF;
  cursor:pointer;
}

